#!/bin/sh
set -e
. /usr/share/debconf/confmodule

# prompt for password + confirmation until we get matching entries
# or an empty password
promptpass() {
	while :; do
		RET=""
		db_input high $1 || true
		db_go
		db_get $1
		# if password isn't empty we ask for password verification
		if [ -z "$RET" ]; then
			break
		fi
		ADMIN_PW="$RET"
		db_input high $1_again || true
		db_go
		db_get $1_again
		if [ "$RET" = "$ADMIN_PW" ]; then
			ADMIN_PW=''
			break
		fi
		db_fset $1_mismatch seen false
		db_input critical $1_mismatch
		db_set $1 ""
		db_set $1 ""
		db_go
	done
}

prompt() {
	db_input high $1 || true
	db_go
	db_get $1
}

prompt cozy-stack/couchdb/address
prompt cozy-stack/couchdb/nodename
prompt cozy-stack/couchdb/admin/user
promptpass cozy-stack/couchdb/admin/password
prompt cozy-stack/couchdb/cozy/user
promptpass cozy-stack/couchdb/cozy/password
promptpass cozy-stack/cozy/password
