#!/usr/bin/make -f
export DH_GOPKG ?= github.com/cozy/cozy-stack
TARGET_ARCH ?= linux-amd64
SKIP_GO_GET ?= false

DESTDIR := $(CURDIR)/debian/cozy-stack
export GOPATH := $(CURDIR)
export DEBIAN_VERSION := $(shell dpkg-parsechangelog -S Version)
export UPSTREAM_VERSION := $(shell echo $(DEBIAN_VERSION) | awk -F- '{print $$1}')
export BUILD_TIME := $(shell date -u +"%Y-%m-%dT%H:%M:%SZ")

%:
	dh $@ --with=systemd

generate-sources:
	$(SKIP_GO_GET) || go get -t -u -v $(DH_GOPKG)
	cd src/$(DH_GOPKG) &&\
		VERSION_STRING=$(UPSTREAM_VERSION) PATH="$(GOPATH)/bin:$(PATH)" ./scripts/build.sh assets
	tar --exclude-vcs --exclude="src/github.com/cozy/cozy-stack/cozy-stack-linux-*" \
		-C .. -Jcvf ../cozy_$(UPSTREAM_VERSION).orig.tar.xz cozy/src

#override_dh_auto_configure:
#	$(SKIP_GO_GET) || go get -t -u -v $(DH_GOPKG)

override_dh_auto_build:
	cd src/$(DH_GOPKG) && go build -o $(CURDIR)/bin/cozy-stack -ldflags "\
		-X github.com/cozy/cozy-stack/pkg/config.Version=$(UPSTREAM_VERSION) \
		-X github.com/cozy/cozy-stack/pkg/config.BuildTime=$(BUILD_TIME) \
		-X github.com/cozy/cozy-stack/pkg/config.BuildMode=production"

override_dh_clean:
	dh_clean
	cd src/$(DH_GOPKG) && ./scripts/build.sh clean
	rm -rf bin/cozy-stack

#override_dh_auto_test:
#ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
#	go get -u -v github.com/stretchr/testify
#	go test $(DH_GOPKG)/...
#endif
